.content-card{
    width: 90%;
    padding: 1rem;

}
.profile {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.content {
    margin-top: 8px;
}
